# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
pretrained_model
/output/concat_videos/
/test_videos/bk/
/output/hmdb51_all_videos/
/output/ucf101_test_1/
/output/video/MultiMedia/
/output/video/BK/
